* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}
body {
    background-color: #FEFEFE;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./asset/section1bgimg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

 }
header {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}
.logo-holder {
    /* margin-bottom: 40px; */
    position: relative;
    bottom: 10px
}
a {
    text-decoration: none;
    color: white;
}

.header-text {
    margin-top: 60px;
    font-size: 17px;
    /* font-weight: bold; */
    gap: 16px;
    display: flex;
    font-family: SamsungOne, arial, sans-serif;
}
.header-left {
    gap: 40px;
    display: flex;
}
.header-search {
    background-color: transparent;
    /* border-radius: 30px; */
    /* height: 40px; */
    border: none;
    /* margin-top: 10px; */

}
.header-right {
    /* display: flex; */
    margin-right: 70px;
}
.support {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-left: 100px;
}
.cart-holder {
    display: flex;
    /* margin-right: 30px; */
    /* margin-top: 10px; */
}
.search-holder {
    background-color: none;
    border-radius: 30px;
    height: 40px;
    border: none;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    gap: 5px;
    padding-left: 5px;

    
}
.cart-prof {
    margin-top: 15px;
    margin-left: 10px;
}
.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(./section1bgimg.jpeg); */
}
.Moments {
    color: white;
    font-size: 70px;
}
.section-1-left {
    position: relative;
    top: 150px;
    right: 450px;
}
.spark {
    font-size: 30px;
}
.view {
    margin-top: 25px;
    display: flex;
    gap: 20px;
}
.shop-now {
    border: 1px solid white;
    padding: 10px;
    border-radius: 30px;
    position: relative;
    bottom: 10px;
}
.section-2 {
    margin-top: 500px;
}
