* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}
body {
    margin-top: 50px;
    padding-top: 50px;
}
.shop-header-left-text {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 100px;
    
}
.shop-header-nav {
    margin-left: 180px;
}
.shop-section-1 {
    background-color: #F7F7F7;
    height: 500px;
    width: 100%;
    position: relative;
    bottom: 10px;
    display: flex;
    padding-top: 50px;
    gap: 20px;
    overflow-x: scroll;
    
    
}
.vision-pro {
    background-color: white;
    width: 300px;
    height: 400px;
    border: 1px solid rgb(156, 150, 150);
    margin-left: 90px;
    border-radius: 20px;
    
}
.Galaxy-xr {
    margin-top: 30px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.vision-div {
    margin-left: 30px;
    margin-top: 50px;
}
.price-1 {
    margin-left: 20px;
    margin-top: 80px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.s25-ultra {
      background-color: white;
    width: 300px;
    height: 400px;
    border: 1px solid rgb(156, 150, 150);
    /* margin-left: 90px; */
    border-radius: 20px;
    
}
.price-12 {
    margin-left: 20px;
    margin-top: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    /* justify-content: space-around; */
    gap: 100px;
}
.save-30 {
    color: #028181;
}
.buy-direct {
      height: 700px;
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 100px;
}
.shop-learn-more {
    border: 1px solid black;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;   
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
}
.shop-sec2-top {
    display: flex;
    /* justify-content: space-between; */
    gap: 800px;
}
.direct-text {
    font-weight: bold;
    font-size: 45px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.learnmore-holders {
    display: flex;
    padding: 40px;
    padding-left: 50px;
    gap: 20px;
}
.samsung-rewards {
    border: 1px solid rgb(170, 168, 168);
    width: 350px;
    height: 380px;
    border-radius: 10px;
}
.samsung-first-logo {
    margin-left: 30px;
    margin-top: 10px;
}
.samsung-first-logo2 {
    margin-left: 30px;
    margin-top: 30px;
}
.Rewards-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin-left: 30px;
    margin-top: 10px;
}
.rewards-lil-text {
    margin-left: 30px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.learnmore-1 {
    margin-top: 80px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


.learnmore-2 {
     margin-top: 100px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.learnmore-3 {
     margin-top: 70px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: red; */
}
.learnmore-4 {
      margin-top: 35px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: red; */
}
.Rewards-text4 {
      font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-left: 30px;
    /* margin-top: 5px; */
    /* background-color: red; */
}
.footer-div {
    font-size: 12px;
    /* background-color: red; */
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 100px;
    background-color: #F7F7F7;
    height: 450px;
    padding: 20px;
    display: flex;
    justify-content: center;
    line-height: 15px;
    margin: 30px;
    padding-top: 40px;
    border-bottom: 1px solid rgb(157, 153, 153);
}
.sam4-com {
    margin-top: 20px;
}
.footer-down-holder {
    display: flex;
}
.footer-shop {
position: relative;
bottom: 130px;
left: 50px;
border-right: 1px solid rgb(157, 153, 153);
padding: 20px;
height: 600px;
padding-right: 50px;

}
.shop {
    height: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* border-right: 1px solid rgb(157, 153, 153); */
}
.shop-list {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    line-height: 29px;
}
.footer-shop1 {
    position: relative;
bottom: 130px;
left: 50px;
/* border-right: 1px solid rgb(157, 153, 153); */
padding: 20px;
height: 600px;
padding-right: 50px;
}
